---
import {
  getEntry,
  getEntries,
  type CollectionEntry,
  getCollection,
} from "astro:content";

import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const images = import.meta.glob(
  "/src/content/posts/images/*.{jpeg,jpg,png,gif}"
);
const coverImageKey = `/src/content/posts/images/${entry.data.images.cover}`;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <main
    class="max-w-[890px] m-6 lg:mx-auto flex-auto prose prose-sm md:prose-lg"
  >
    <header>
      <h1 class="!m-0">{entry.data.title}</h1>
      <div class="divider"></div>
      <p class="italic">{entry.data.date}</p>
    </header>
    <article>
      <Content />
    </article>
  </main>
</Layout>
