---
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import { collections } from "../../content/config";

const allPosts = await getCollection("posts");
---

<Layout title="Blog">
  <main class="w-auto max-w-[890px] mx-6 lg:mx-auto my-6 flex-auto">
    <h1 class="text-5xl font-bold">Blog</h1>

    <div class="divider"></div>
    <div class="flex flex-col gap-10">
      {
        allPosts.map((el) => {
          return (
            <div class="flex flex-col">
              <p class="mb-3">{el}</p>
              <Card post={el}} />
            </div>
          );
        })
      }
    </div>
  </main>
</Layout>
