---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Blog">
	<main class="max-w-screen-xl mx-6 lg:mx-auto my-6 flex-auto	">

	<h1 class="text-5xl font-bold">Blog</h1>
	<p class="py-6">I'm a front-end developer that really enjoys turning elegant code into performant and seamless user experiences.</p>
	<p class="py-6">I'm a front-end developer that really enjoys turning elegant code into performant and seamless user experiences.</p>
	<p class="py-6">I'm a front-end developer that really enjoys turning elegant code into performant and seamless user experiences.</p>
	
	</main>

</Layout>