---
import Icon from "astro-icon";
import Layout, { type SocialMetaTags } from "../layouts/Layout.astro";

const socialMeta: SocialMetaTags = {
  image: `${Astro.url.origin}/hero.jpeg`,
  description:
    "This is my home page and blog, maybe a portfolio page too, who knows...",
  title: "Hey there, I'm Gabriel",
  url: Astro.url.href,
  type: "article",
};
---

<Layout title="Home" socialMeta={socialMeta}>
  <main class="max-w-screen-lg m-auto md:px-10">
    <div class="hero">
      <div class="hero-content flex-col gap-5 lg:flex-row-reverse lg:gap-6">
        <img
          transition:animate="slide"
          src="/hero.jpeg"
          class="max-w-[18rem] lg:max-w-sm rounded-lg shadow-2xl"
        />
        <div class="lg:pr-12">
          <h1 class="text-4xl lg:text-6xl font-bold">Hey there,</h1>
          <h1 class="text-4xl lg:text-6xl font-bold">I'm Gabriel!</h1>
          <h3 class="text-xl py-6">
            I'm a <strong>front-end developer</strong> who enjoys crafting
            elegant code, and providing seamless user experiences.
          </h3>
        </div>
      </div>
    </div>
  </main>
</Layout>
