---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { collapseTextChangeRangesAcrossMultipleVersions } from "typescript";
interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const imagePath = "/" + post.data.images.cover;
---

<a href={`/blog/${post.slug}`}>
  <div
    class="w-full sm:max-h-[20vh] cursor-pointer transition-all image-full card shadow-xl hover:scale-[1.02] hover:shadow-2xl active:scale-100"
  >
    <figure>
      <img src={imagePath} class="w-full" alt="article image" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">{[post.data.title]}</h2>
      <p>{post.data.excerpt}</p>
    </div>
  </div>
</a>
