---
const thisYear = new Date().getFullYear();
---

<footer class="flex flex-col items-center justify-center p-3">
  <span>© {thisYear} Gabriel Borsero.</span>
  <span
    >Powered by&nbsp;<a
      class="btn-link"
      href="https://astro.build"
      target="_blank"
      rel="noopener"
      class="astro-TLMM3O2N">Astro</a
    >.</span
  >
</footer>
