---
import Icon from "astro-icon";
import { ThemeToggle } from "../components/ThemeToggle";
import { HomeIcon } from "../components/HomeIcon";

const currentPage = Astro.url.pathname;
---

<header class="bg-base-200 md:px-10">
  <div class="navbar justify-between m-auto max-w-[945px]">
    <a
      class={`btn btn-ghost ${currentPage === "/" && "btn-active"} w-16 h-16`}
      href="/"
    >
      <HomeIcon client:only />
    </a>

    <nav class="flex-none gap-2 pr-2">
      <a
        class={`btn btn-ghost ${currentPage == "/blog" && "btn-active"}`}
        href="/blog">Blog</a
      >
      <a
        class={`btn btn-ghost ${currentPage == "/about" && "btn-active"} mr-2`}
        href="/about">About</a
      >
      <ThemeToggle client:only />
    </nav>
  </div>
</header>
